{% extends "./base.html.j2" %} {% block title %}Home{% endblock %}

{% block content %}
<h1> This is the home page</h1>
<p>
    Sign up or Login to receive fun and exciting information on Marine Life!
</p>
<img src="./static/istockphoto-1364050573-170667a.jpg" alt="Sea">
<p>
    Sea life on beautiful coral reef with Blacktail Butterflyfish!
    The Red Sea is a rich and diverse ecosystem. More than 1200 species of fish have been recorded in the Red Sea,
     and around 10% of these are found nowhere else. This also includes 42 species of deepwater fish. The rich diversity 
     is in part due to the 2,000 km (1,240 mi) of coral reef extending along its coastline; these fringing reefs are 
     5000 to 7000 years old and are largely formed of stony acropora and porites corals. 
    The reefs form platforms and sometimes lagoons along the coast and occasional other features such as cylinders 
     (such as the Blue Hole (Red Sea) at Dahab).
     These coastal reefs are also visited by pelagic species of Red Sea fish, including some of the 44 species of shark.
</p>
<img src="./static/istockphoto-1170804921-612x612.jpg" alt="Turtle">
<p> Sea Turtle passing the camera with a school of silver fish!</p>
<img src="./static/underwater-coral-reef-landscape-16to9-260nw-578903656.webp" alt="Coral">
<p>
    See how many creatures in the sea you can find in this beautiful picture.
</p>
<img src="./static/maxresdefault.jpg" alt="Sharks">
<p>
    Killer whales on the move!
</p>

<img src="./static/green-turtle-colorful-marine-life-22081618.jpg" alt="Starfish">
<p>
    Did you know that sea stars also known as starfish are not fish at all?
    Sea stars lack a number of fishy anatomical features, including gills, scales or fins.
    If you thought sea stars remained stagnant their entire lives, staying motionless
    in one place or floating with the tides, think again. On each of a sea stars five arms, 
    the bottom side of the limb presents a peculiar yet extraordinary feature.
    Each arm contains up to 15,000 tiny little tube feet, which are able to orchestrate movements 
    and walk the sea star along…often quite efficiently! 
    Recent research has discovered something even more astounding about these little feet, too: 
    apparently, they contain a potent glue-like substance, which can secure the sea star to objects 
    like rocks so that they dont fall off or get washed away with the tide. Their feet will even
    secrete a solvent once the sea star needs to move somewhere else, 
    dissolving the gluey-substance when the creature is ready.
</p>
<img src="./static/https___cdn.cnn.com_cnnnext_dam_assets_200402140256-02-marine-life-study.jpg" alt="Danger Zone">
<p>
    For 400 million years, sharks have roamed every ocean on Earth!
    Few species have thrived on our planet for as long — and fewer have been so misunderstood. 
    The truth is that these mysterious, magnificent hunters are essential to the balance of marine ecosystems,
    help boost local economies and are actually worth more alive than dead.
</p>

{% endblock %}
